@import '../../Styles/Partials/mixins';
@import'../../Styles/Partials/variables';


.signupPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin: 50px;
    background-color: rgba($light-purple,0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 10px rgba(black, 0.9);
    width: 300px;
    color: $dark-purple;

    @include tablet {
        height: 40vh;
        width: 300px;
    }

    @include desktop {
        height: 60vh;
        align-self: right;
    }

    &__title {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
        color: $dark-purple;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__form-group {
        margin-bottom: 9px;
        width: 100%;

        &--subtitle {
            display: none;
           
        }

        &--input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);

            &:focus {
                outline: 0.5px solid $dark-purple;
            }
        }

    }


    &__copy {
        text-align: center;
        font-weight: 500;
    }

    &__signup {
        width: 100%;
    }


    &__button {
        background-color: #dbe1f4;
        border: none;
        border-radius: 5px;
        width: 100%;
        height: 35px;
        margin: 20px  0;
        box-shadow: 0 6px 8px rgba(black, 0.3);
    }

    &__button:hover {
        background-color: $medium-purple;
    }

}
