@import './mixins';

h1  {
    color: $dark-blue-fonts;

    @include tablet {
        font-size: 48px;
    }

    @include desktop {
        font-size: 36px;
    }

}

h2 {
    margin: 0;
    text-align: center;
    color: $dark-blue-fonts;
    padding: 8px;

    @include tablet {
        font-size: 32px;
        padding: 16px;
    }

    @include desktop {
        font-size: 18px;
        padding: 8px;
    }
}