@import 'variables';

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }

}

@mixin mobile {
    @media screen and (min-width: $mobile-breakpoint) {
        @content;
    }

}

@mixin radialToggleButtonStyles($size: 20px, $uncheckedSize: 20px, $color: $dark-purple) {
    appearance: none;
    position: relative;
    border: 0.5px solid $dark-purple;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0;
    box-sizing: border-box;

    &:checked::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $dark-purple;
    }
}


@mixin inputTextStyles {
    font-size: $input-font-size-mobile;
    color: $dark-purple;

    @include tablet {
        font-size: $input-font-size-tablet;
    }

    @include desktop {
        font-size: $input-font-size-desktop;
    }
}