// colours 

$light-blue-background: #dbe1f4;
$dark-blue-fonts: #467ab5;
$dark-grey: #242526;

// fonts-sizes
$input-font-size-mobile: 18px;
$input-font-size-tablet: 24px;
$input-font-size-desktop: 16px;


// breakpoints and margins 
$mobile-breakpoint: 320px;
$tablet-breakpoint:768px;
$desktop-breakpoint: 1080px;
