// colours 

$light-purple: #dbe1f4;
$medium-purple: #A5ABBD;
$dark-purple: #414756;
$beige: #F0DFC5;
$dark-beige: #B8A88F;

$dark-blue-fonts: #467ab5;
$dark-grey: #242526;

// fonts-sizes
$input-font-size-mobile: 18px;
$input-font-size-tablet: 18px;
$input-font-size-desktop: 16px;


// breakpoints and margins 
$mobile-breakpoint: 320px;
$tablet-breakpoint:768px;
$desktop-breakpoint: 1080px;
