@import '../../Styles/Partials/variables';
@import '../../Styles/Partials/mixins';

.task-list {
    color: $dark-blue-fonts;
    border: 1px solid $dark-blue-fonts;
    background-color: white;
    width: 91%;
    margin: 16px;
    padding: 0;
    max-height: 255px;
    overflow-y: auto;

    @include desktop {
        max-height: 170px;
    }

    &__title-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        margin-bottom: 0;
        padding-right: 8px;
    }

    &__button {
        background-color: #dbe1f4;
        box-shadow: 4px 2px 2px rgba(128, 128, 128, 0.5);
        color: #467ab5;
        border: none;
        border-radius: 4px;
        padding: 8px 12px;
        font-size: 16px;
        cursor: pointer;
        height: px;

    }

    &__item {
        width: 95%;
        padding: 0 8px 8px 8px;
        display: flex;
        align-items: center;

        @include tablet {
            padding: 8px;
        }

        @include desktop {
            padding: 6px;
        }

        &--radial-toggle {
            @include radialToggleButtonStyles(20px, 12px, $dark-blue-fonts);

        }

        &--input {
            @include inputTextStyles;
            width: 100%;
            border: none;
            background: none;
            margin-left: 8px;
        }

        &--input:focus {
            outline: 1px solid $dark-blue-fonts;
        }
    }

}