@import '../../Styles/Partials/variables';

.schedule {
    color: $dark-blue-fonts;
    border: 1px solid $dark-blue-fonts;
    background-color: white;
    width: 93%;
    margin:8px;

    &__container {
        width: 100%;

    }

    &__subcontainer {
        width: 100%;
    }

    &__row {
        &--time {
            font-size: 14px;
            padding-left: 8px;
            text-align: right;

        }
        &--input {
            width: 95%;
            border: none;
            background: none; 

            &--container {
                width: 100%;
                background-color: none;

            }
        }

        &--input:focus {
            outline: 1px solid $dark-blue-fonts;
        }
    
    }
}