.mainpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__planner {
        display: flex;
        width: 95%;

        &--cover {
            background:rgba(0, 0, 0, 0.1) url('../../Assets/Images/aaron-burden-Bycd2wF5vQU-unsplash.jpg') center;
            
            background-size: 199%;
            height: 75vh;
            width: 100%;
            margin-top: 16px;
            border-radius: 0.2rem;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        

        }

        &--page-turn-icon {

            &--container {
               display: flex;
               justify-content: flex-end;
            }
        }


        &--title {
            font-size: 60px;
            margin: 0;
            color: #528fa4;
            padding-top: 33px;

            &--container {
                height: 140px;
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 150px;
                
            }

            &--subcontainer { 
                height: 140px;
                width: 200px;
                background-color: white;
                text-align: center;
                line-height: 40px;
                outline: 2px solid transparent;
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            }
        }

        &--subtitle {
            font-size: 34px;
            margin: 0;
            color: #528fa4; 
        }

        
    }

   
    
}