@import '../../Styles/Partials/variables.scss';
@import '../../Styles/Partials/mixins';

.task-list__container {
    width: 95%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.task-list__item {
    width: 95%;
    padding:8px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 4px 0;
    transition: transform 0.3s ease;

        &:hover {
            transform: translate(-2px, -2px); 
        }

    @include tablet {
        padding: 8px;
    }

    @include desktop {
        padding: 6px;
    }

}

.task-list__item--radial-toggle {
    @include radialToggleButtonStyles(20px, 12px, $dark-blue-fonts);

}

.task-list_item--input {
    @include inputTextStyles;
    width: 100%;
    border: none;
    background: none;
    margin-left: 8px;

}

.task-list__item--input-container {
    width: 100%;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 50%;
        left: 0;
        right: 0;
        height: 50%;  // Adjust as needed
        border-bottom: 1px solid rgba($dark-purple, 0.5);
        transform: scaleX(0);  // Initial state, hidden line
        transition: transform 0.3s ease;
    }

    // &:hover::after {
    //     transform: scaleX(1);  // Display line on hover
    // }

    &.completed::after {
        transform: scaleX(0.95); // Display line when completed
        border-color: $dark-purple;  // Customize color if needed
    }

    // Add any additional styles you need
}


.task-list_item--input:focus {
    outline: 0.5px solid $dark-purple;
}

.task-list__button {
    background: none;
        // box-shadow: 4px 2px 2px rgba(128, 128, 128, 0.5);
        border: none; 
        cursor: pointer;

}

.task-list__icon {
    height: 12px;
}