
.main-nav {
    display: flex;
    &__link {

    }

    &__button {
        background-color: #dbe1f4;
        border: none;
        border-radius: 20px;
        width: 130px;
        height: 30px;
        margin: 30px 15px 10px 15px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    &__button:hover {
        background-color: #0056b3;
    }

}