@import '../../Styles/Partials/mixins.scss';

.main-nav {
  display: flex;
  position: relative;
  background-color: $medium-purple;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: $dark-purple;


  &__button {
    background-color: $light-purple;
    border: none;
    border-radius: 20px;
    width: 130px;
    height: 30px;
    margin: 10px 15px;
    z-index: 2000;
    transition: transform 0.3s ease;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);


    &:hover {
      transform: translate(-2px, -2px);
    }


    @include desktop {
      margin-top: 24px;
    }
  }

  &__icon-button {
    background: none;
    border: none;
    z-index: 2000;
  }

  &__icon {
    width: 50px;
    padding: 6px 0;
    transition: transform 0.3s ease;


    &:hover {
      transform: translate(-2px, -2px);
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    z-index: 1000;
    cursor: pointer;
  }

  @include tablet {
    &__button {
      width: 10%;
      margin: 10px;
    }

    &__icon-button,
    &__button {
      text-align: center;
    }
  }
}